#idAboutMe {
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
}

.aboutMe{
    text-align: center;
    margin: auto;
    grid-column: span 1;
}

.aboutMeSkills {
    grid-column: span 2;
}
.aboutMeName {
    margin-bottom: 0;
}

.aboutMeOccupation {
    margin: 0;
}

.skillsList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

}

.skillIcon {
    width: 100px;
}

.skillsHeader {
    margin: 0;
}

/* IMAGE */
.personalImage {
    grid-column: span 1;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: auto 5%;
    box-shadow: 0px 2px 5px 5px rgb(155, 144, 144);
}

@media screen and (max-width: 1100px) {
    #idAboutMe {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px 10px 0;
    }

    .introduction {
        margin: 0;
    }

    .aboutMe {
        margin: 40px auto;
    }

    .aboutMeSkills {
        display: none;
    }

    .personalImage {
        margin: 0 auto 10px;
        width: 400px;
        height: 400px;
    }

    .skillsSmallScreen {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
    .skillsSmallScreen > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }

    .skillsSmallScreen > ul > li{
        margin: 1%;
        
    }
}
