/* CONTACT */  
  
#idContact {
    padding: 0;
}

#idContact > h1 {
    margin: 0;
}

li {
    list-style: none;
}
  
  i {
    font-size: 100px;
    color: rgb(6, 194, 219)
  }
  
  textarea {
    height: 300px;
    resize: none;
  }
  
  .socialMedia {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  
  /* Send Email */
  .formContactMe {
    display: flex;
    width: 50%;
    height: 400px;
    padding: 1% 10%;
    flex-direction: column;
    margin: 20px auto;
    background-color: #293241;
    border-radius: 50px;
    border: solid  #e0fbfc;
    box-shadow: 0 0 5px 1px #98c1d9;
  }
  
  .formContactMe > label {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 1% auto;
    font-family: 'roboto';
  }

  #lblSenderMessage {
    margin: 0;
  }

  input {
    font-size: 16px;
  }
  
  input[type=submit] {
    width: 200px;
    align-self: end;
    margin: 5px auto 0;
    font-family: "Space Mono", sans-serif;
    background-color: rgb(6, 194, 219);
    color: rgb(23, 83, 107);
  }

  input[type=submit]:active {
    transform: translateY(5px);
  }

  textarea {
    font-size: 18px;
  }

@media screen and (max-width: 1100px) {
    
    .socialMedia, .contactInformation {
        padding: 0;
    }

    

   
}