header {
    position: fixed;
    top: 0;
    width: 96%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
    background-color: rgb(124, 174, 189);
    z-index: 1;
}

.personalLogo {
    width: 80px;
    height: 70px;
    margin: auto 0;
    
}


/* NAVBAR */
.sectioNavBar {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    z-index: 99;
}

.containerNavBar {
    display: flex;
    justify-content: center;
}

.navBarItem {
    margin: 0 30px;
    font-family: "Russo One", serif;
    font-size: 2rem;
}

.navBarItem > a {
    text-decoration: none;
    color: rgb(21, 23, 116);
}

.navBarItem > a:hover {
    color: rgb(175, 230, 240);
    box-shadow: 0px 1px 5px 1px white;
    font-size: 2.5rem;
}



@media screen and (max-width: 1100px) {
    header {
        width: 97%;
        height: 100px;
    }

    .containerNavBar {
        flex-direction: column;
    }

    .navBarItem {
        margin: 3px 10px;
        font-size: 1rem;
    }

    .navBarItem > a:hover {
        font-size: 1.1rem;
    }
}