header {
    position: fixed;
    top: 0;
    width: 96%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
    background-color: rgb(124, 174, 189);
    z-index: 1;
}

.personalLogo {
    width: 60px;
    height: 50px;
    margin: auto 0;
}


/* NAVBAR */
.sectioNavBar {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    z-index: 99;
    width: 60%;
    margin-right: 10px;
}

.containerNavBar {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarItem {
    width: 25%;
    height: 50%;
    font-family: "Russo One", serif;
    font-size: 22px;
    position: relative;
}

.navBarItem > a {
    text-decoration: none;
    color: rgb(21, 23, 116);
    position: absolute;
    top: 0;
    margin: 0;
}

.navBarItem > a:hover {
    color: rgb(175, 230, 240);
    box-shadow: 0px 1px 5px 1px white;
    font-size: 26px;
}



@media screen and (max-width: 1100px) {
    .sectioNavBar {
        width: 170px;
        height: 100%;
    }

    .containerNavBar, .navBarItem {
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    header {
        width: 97%;
        height: 100px;
    }

    .navBarItem > a {
        font-size: 16px;
    }

    .navBarItem > a:hover {
        font-size: 17px;
    }
}