/* PROJECT */
.sectionProjects {
    display: flex;
    flex-direction: column;
}

.sectionProjects > div{
    display: flex;
    flex-direction: row;
    height: 900px;
}

/* INDIVIDUAL PROJECT */
.divProject {
    position: absolute;
    width: 100%;
    left: 0;
}

.projectImage {
    width: 90%;
    height: 90%;
}

.projectImage:hover {
    cursor: pointer;
}

.projectSummary {
    padding: 0 10%;
}

.skillList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hidden {
    opacity: 0;
}
.active {
    opacity: 1;
    transition-duration:0.4s;
}