.divSchool {
    margin: 50px auto;
    line-height: 20px;
}

.schoolLogo {
    float: left;
}

.schoolInfo {
    text-align: right;
    padding: 0 10% 0 40%;
}

.course {
    font-weight: bold;
}

.project{
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .divSchool {
        overflow: hidden;
    }
    .schoolLogo{
        float: none;
        margin: 0;
        width: 400px;
    }
    .schoolInfo {
        text-align: center;
        padding: 0 10%;
    }
}