.divSchool {
    margin: 10% auto;
    line-height: 20px;
}

.schoolLogo {
    float: left;
}

.schoolInfo {
    text-align: right;
    padding: 0 10% 0 40%;
}

.course {
    font-weight: bold;
}

/* PROJECT DIV */
.project{
    font-weight: bold;
}

.projectImage {
    width: 90%;
}

.projectSummary {
    padding: 0 10%;
}

.skillList {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.containerImage {
    display: flex;
    justify-content: center;
}




@media screen and (max-width: 1200px) {

    .divSchool {
        overflow: hidden;
    }
    .schoolLogo{
        float: none;
        margin: 0;
        width: 400px;
    }
    .schoolInfo {
        text-align: center;
        padding: 0 10%;
    }

    /* PROJECT DIV */
    .projectImage {
        width: 100%;
    }
}