@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Space+Mono&family=Ubuntu&display=swap');

html {
  /* for smooth scrolling when clicking on navbar */
  scroll-behavior: smooth;
  background-color: rgb(4, 61, 126);
  color: rgba(14, 226, 226, 0.795);
}

/* TAG STYLES */
h1 {
  font-family: "Russo One", serif;
  font-size: 3rem;
  margin-bottom: 0;
  color: aqua;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  margin: 0;
  color: rgb(12, 216, 216);
}

p {
  font-family: "Space Mono", sans-serif;
  font-size: 1rem;
  color: rgba(14, 226, 226, 0.795);
  white-space: pre-line;
}

section {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  padding: 60px 20px 0px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* CONTACT */
li {
  list-style: none;
}

i {
  font-size: 100px;
  color: rgb(6, 194, 219)
}

textarea {
  height: 300px;
  resize: none;
}

.socialMedia {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.formContactMe {
  display: flex;
  width: 300px;
  height: 300px;
  border: solid black 1px;
  padding: 1% 10%;
  flex-direction: column;
  margin: 20px auto;
}

.formContactMe > label {
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
}

input[type=submit] {
  width: 100px;
  align-self: end;
  margin: 5px 0 0;
  font-family: "Space Mono", sans-serif;
}

/* FOOTER */
footer {
  text-align: center;
  margin: 110px 0 0;
  height: 30px;
  background-color: rgb(101, 198, 243); 
}

footer > p {
  margin: 0;
  color: rgb(14, 5, 151);
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}