.divProjectChange {
    align-self: center;
    margin: 10px;
}

.buttonPrevious, .buttonNext {
    filter: brightness(0.8) invert(.8) sepia(.4) hue-rotate(100deg) saturate(200%);
}


@media screen and (max-width: 1200px) {
    .divProjectChange {
        position: absolute;
    }

    .buttonPrevious {
        display: none;
    }

    .buttonNext {
        width: 600px;
        height: 250px;
        opacity: 0%;
    }
}