.divProjectChange {
    align-self: center;
    margin: 10px;
}

@media screen and (max-width: 1200px) {
    .divProjectChange {
        position: absolute;
    }

    .buttonPrevious {
        display: none;
    }

    .buttonNext {
        width: 600px;
        height: 250px;
        opacity: 0%;
    }
}